<input [(ngModel)]="id" />
<button (click)="buscarID()">Buscar_ID</button>
<button (click)="Insertar(catalogos.Id_Catalogo)">INSERTAR</button>
<p-table #dt1 [value]="catalogos" responsiveLayout="scroll">
  <span class="p-input-icon-left ml-auto">
    <i class="pi pi-search"></i>
    <input
      pInputText
      type="text"
      (input)="dt1.filterGlobal($event, 'contains')"
      placeholder="Search keyword"
    />
  </span>
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Nombre Catalogo</th>
      <th>Tipo Catalogo</th>
      <th>OPCIONES</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-catalogo>
    <tr>
      <td>{{ catalogo.Id_Catalogo }}</td>
      <td>{{ catalogo.Nombre_Catalogo }}</td>
      <td>{{ catalogo.Tipo_Catalogo }}</td>
      <button (click)="EditarID(catalogo.Id_Catalogo)">EDITAR</button>
    </tr>
  </ng-template>
</p-table>
