<input [(ngModel)]="id" />
<button (click)="buscarID()">Buscar_ID</button>
<p-table #dt1 [value]="contactos" responsiveLayout="scroll">
  <span class="p-input-icon-left ml-auto">
    <i class="pi pi-search"></i>
    <input
      pInputText
      type="text"
      (input)="dt1.filterGlobal($event, 'contains')"
      placeholder="Search keyword"
    />
  </span>
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Dato Contacto</th>
      <th>Primer Nombre</th>
      <th>Primer Apellido</th>
      <th>Tipo Contacto</th>
      <th>OPCIONES</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-contacto>
    <tr>
      <td>{{ contacto.Id_Contactos }}</td>
      <td>{{ contacto.Dato_Contacto }}</td>
      <td>{{ contacto.Nombre_Contacto }}</td>
      <td>{{ contacto.Apellido_Encargado }}</td>
      <td>{{ contacto.Tipo_Contacto }}</td>
      <td>
        <button (click)="EditarID(contacto.Id_Contactos)">EDITAR</button>
      </td>
    </tr>
  </ng-template>
</p-table>
